.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
  0% {
    color: red;
    text-shadow: 10px 0px 30px #FF0000;
  }

  15% {
    color: orange;
    text-shadow: 10px 0px 30px #FFA500;
  }

  30% {
    color: yellow;
    text-shadow: 10px 0px 30px #FFFF00;
  }

  45% {
    color: rgb(3, 216, 3);
    text-shadow: 10px 0px 30px #03D803;
  }

  60% {
    color: blue;
    text-shadow: 10px 0px 30px #0000FF;
  }

  75% {
    color: indigo;
    text-shadow: 10px 0px 30px #4B0082;
  }

  100% {
    color: red;
    text-shadow: 10px 0px 30px #FF0000;
  }

}