.wavy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-align: center;
  animation: wavy 1s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-10px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}